{{ define "bodyclass" }}home{{ end }}

{{ define "main" }}
<div class="container container-halves">
  <h1 class="full">{{ partial "typo.html" .Title }}</h1>
  <p class="large full">{{ partial "typo.html" .Params.subtitle }} </p>
</div>

  {{ with .Params.sellingPoints }}
    <div class="container container-halves">
      <h2 class="full">Posuňte digitální čtení na další úroveň</h2>
      <p class="large full">Next-book přináší výhody pro nakladateli i čtenáře.</p>
      {{ range . }}
      <div>
        <h3>{{ partial "typo.html" .title }}</h3>
        <p>{{ partial "typo.html" .content }}</p>
        <br> <!-- bad joke -->
      </div>
      {{ end }}
    </div>
  {{ end }}


  {{ with .Params.offers }}
    <div class="container container-halves">
      <h2 class="full">Chci knihu v next-book formátu</h2>
      <p class="large full">Ať už máte knihu vydanou nebo se na publikaci chystáte, pomůžeme vám je převést do next-book formátů. Samozřejmě s patřičnou vizuální úpravou, aby knihy bavily vaše čtenáře.</p>
      {{ range . }}
      <div>
        <img class="offer-icon" src="/production/{{ .img }}">
        <h3>{{ partial "typo.html" .title }}</h3>
        <ul>
          {{ range .pros }}
            <li>{{ partial "typo.html" . }}</li>
          {{ end }}
        </ul>
        <!-- <button>Prohlédnout ukázku</button> -->
      </div>
      {{ end }}
    </div>
  {{ end }}

  {{ with .Params.services }}
    <div class="container container-thirds">
      <h2 class="full">Pomůžeme s nasazením na web i údržbou</h2>
      {{ range . }}
        <p>{{ partial "typo.html" . }}</p>
      {{ end }}
    </div>
  {{ end }}

  <div class="container">
    <div class="full">
      {{ .Content }}

      <a class="button" href="mailto:chci@next-book.info">Chci vědět víc</a>
    </div>
  </div>



{{ end }}
