{{ define "bodyclass" }}home{{ end }}

{{ define "assocInfo" }}
        <p>
          Sídlo: Stojanova 8, 602 00 Brno, Czech Republic<br>
          ID datové schránky: 3k39des<br>
          Transparentní účet č. <a href="https://ib.fio.cz/ib/transparent?a=2301819350&l=CZECH">2301819350/2010</a>, vedený u Fio Banka a. s.
        </p>
{{ end }}

{{ define "main" }}
  <div class="container container-halves">
    <h1 class="full">{{ partial "typo.html" .Title }}</h1>
    <p class="large full">{{ partial "typo.html" .Params.subtitle }}</p>
  </div>

  {{ with .Params.sellingPoints }}
    <div class="container">
      <h2 class="full">Posuňte digitální čtení na&nbsp;další&nbsp;úroveň</h2>
      <p class="large full">Next-book přináší výhody pro nakladatele i&nbsp;čtenáře.</p>
    </div>
    <div class="container container-halves relaxed-grid">
      {{ range . }}
      <div>
        <img class="icon" src="/icons/{{ .icon }}">
        <h3>{{ partial "typo.html" .title }}</h3>
        {{ partial "typo.html" .content }}
      </div>
      {{ end }}
    </div>
  {{ end }}

  <div class="features container container-gold">
    <h2 class="full">Chci knihu v next-book&nbsp;formátu</h2>
    <p class="large full">Ať už máte knihu vydanou nebo se na publikaci chystáte, pomůžeme vám ji&nbsp;vydat.</p>

    <div class=" full container container-thirds">
        {{ range .Params.features}}
          <div>
            <h3>{{ partial "typo.html" .title }}</h3>
            <p>{{ partial "typo.html" .text }}</p>
          </div>
        {{ end }}
      </div>
  </div>

  <div class="full container container-halves relaxed-grid">
    {{ range .Params.offers }}

        <div class="">
          <img class="icon" src="/icons/{{ .img }}">
          <h3>{{ partial "typo.html" .title }}</h3>
          <p>{{ partial "typo.html" .text }}</p>
        </div>

    {{ end }}
  </div>

  <div class="features container container-halves">
    {{ with .Params.steps }}
      <div>
        <h2>Jak se do toho&nbsp;pustíme</h2>
        <ol>
          {{ range . }}
            <li>
              <strong>{{ partial "typo.html" .title }}</strong>
              <br>
              {{ partial "typo.html" .text }}
            </li>
          {{ end }}
        </ol>
      </div>
    {{ end }}

    {{ with .Params.services }}
      <div>
        <h2>Pomůžeme s&nbsp;nasazením na&nbsp;web i&nbsp;údržbou</h2>
        <ul>
          {{ range . }}
            <li>{{ partial "typo.html" . }}</li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>

  <div class="container">
    <div class="full">
      {{ .Content }}
    </div>
  </div>

{{ end }}
