._book {
  background: $gray;
  padding: var(--gap);
  position: relative;

  grid-column: span 12;

  @include md-up {
    grid-column: span 6;
  }

  @include lg-up {
    grid-column: span 4;
  }

  .cover {
    background: $orange;
    margin-bottom: var(--gap);

    img {
      display: block;
      padding: calc(2 * var(--gap));
      margin: 0 auto;
      width: 100%;
      height: min(40vh, 350px);
      object-fit: contain;
    }
  }

  h3,
  p {
    @include font-bread;
    margin: 0;
  }

  ._button {
    position: absolute;
    bottom: var(--gap);
    right: var(--gap);
  }
}
