._book {
  background: $gray;
  padding: var(--gap);
  position: relative;

  .cover {
    background: $orange;
    margin-bottom: var(--gap);

    img {
      display: block;
      padding: calc(2 * var(--gap));
      margin: 0 auto;
      height: 25vh;

      @include md-up {
        height: 25vw;
      }
    }
  }

  h3,
  p {
    @include font-bread;
    margin: 0;
  }

  ._button {
    position: absolute;
    bottom: var(--gap);
    right: var(--gap);
  }
}
