._box {
  background: $gray;
  padding: 2rem;

  &.accent {
    background: $orange;

    color: $background;

    h2 {
      @include font-heading-boxed;
      margin-top: 0;
    }

    .desc p {
      max-width: 28rem;
      @include font-perex;
    }
  }
}
