@keyframes smooth {
  0% {
    transform: translateY(0px) var(--initial-transform);
  }
  11% {
    transform: translateY(-30px) var(--initial-transform);
  }
  15% {
    transform: translateY(30px) var(--initial-transform);
  }
  33% {
    transform: translateY(-30px) var(--initial-transform);
  }
  45% {
    transform: translateY(30px) var(--initial-transform);
  }
  55% {
    transform: translateY(-30px) var(--initial-transform);
  }
  85% {
    transform: translateY(30px) var(--initial-transform);
  }
  100% {
    transform: translateY(0px) var(--initial-transform);
  }
}

@include md-up {
  ._bubble {
    --animation-length: 200s;

    position: relative;
    animation: smooth var(--animation-length) infinite;
    z-index: -1;

    display: block;
    background-image: url(/images/bubble1.jpg);
    width: 180px;
    height: 180px;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;

    &:nth-child(4n + 1) {
      background-image: url(/images/bubble2.jpg);
      animation-delay: calc(var(--animation-length) * -0.22);
    }

    &:nth-child(4n + 2) {
      background-image: url(/images/bubble3.jpg);
      animation-delay: calc(var(--animation-length) * -0.44);
    }

    &:nth-child(4n + 3) {
      background-image: url(/images/bubble4.jpg);
      animation-delay: calc(var(--animation-length) * -0.66);
    }
  }

  .bubbles-open {
    position: relative;
    z-index: -1;
    --initial-transform: "";

    ._bubble {
      position: absolute;
      top: -100px;
      left: 50px;
      --initial-transform: rotateZ(-90deg);
      background-image: url(/images/bubble2.jpg);

      &:nth-child(2n + 1) {
        left: auto;
        right: 0;
        top: 50%;
        --initial-transform: rotateZ(120deg);
        background-image: url(/images/bubble3.jpg);
      }
    }
  }

  .bubbles-library {
    position: relative;
    z-index: -1;
    --initial-transform: "";

    ._bubble {
      position: absolute;
      top: -100px;
      right: 50px;
      --initial-transform: rotateZ(0deg);
      background-image: url(/images/bubble1.jpg);
    }
  }

  .bubbles-library-title {
    position: relative;
    z-index: -1;
    --initial-transform: "";
    margin-bottom: 100px;

    ._bubble {
      position: absolute;
      top: 50px;
      right: 150px;
      --initial-transform: rotateZ(-0deg);
      background-image: url(/images/bubble2.jpg);

      &:nth-child(2n + 1) {
        top: 150px;
        right: 50px;
        --initial-transform: rotateZ(0deg);
        background-image: url(/images/bubble3.jpg);
      }
    }
  }

  .bubbles-blog-title {
    position: relative;
    z-index: -1;
    --initial-transform: "";
    margin-bottom: 100px;

    ._bubble {
      position: absolute;
      top: 0px;
      right: 150px;
      --initial-transform: rotateZ(-0deg);
      background-image: url(/images/bubble2.jpg);

      &:nth-child(2n + 1) {
        top: 100px;
        right: 250px;
        --initial-transform: rotateZ(0deg);
        background-image: url(/images/bubble4.jpg);
      }
    }
  }

  .bubbles-ngo-title {
    position: relative;
    z-index: -1;
    --initial-transform: "";
    margin: 3em 0;

    ._bubble {
      position: absolute;
      top: 0px;
      right: 100px;
      --initial-transform: rotateZ(-0deg);
      background-image: url(/images/bubble2.jpg);

      &:nth-child(2n + 1) {
        top: 100px;
        right: 50px;
        --initial-transform: rotateZ(120deg);
        background-image: url(/images/bubble3.jpg);
      }
    }
  }

  .bubbles-title {
    position: relative;
    z-index: -1;
    --initial-transform: "";
    margin-bottom: 100px;

    ._bubble {
      position: absolute;
      top: 50px;
      right: 50px;
      --initial-transform: rotateZ(-0deg);
      background-image: url(/images/bubble2.jpg);

      &:nth-child(2n + 1) {
        top: 30px;
        right: 125px;
        --initial-transform: rotateZ(0deg);
        background-image: url(/images/bubble4.jpg);
      }
    }
  }

  .bubble-context {
    z-index: 1;
  }
}
