._button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;

  background: $background;
  padding: 0.5rem 1.5rem 0.7rem;
  border-radius: 10rem;

  text-decoration: none;
  color: $orange;
  border: 0.1rem solid $background;
  font-weight: 600;

  &.min-width {
    min-width: 18rem;
  }

  &.selected {
    border-color: $orange;
    color: $background;
    background: $orange;
  }

  &.outlined {
    color: $background;
    background: $orange;
  }

  &.black {
    color: $background;
    background: $text;
  }
}
