._button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;

  padding: $gap * 0.7 $gap * 1.5 $gap;
  border-radius: 10rem;

  text-decoration: none;

  border: 0.1rem solid;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  @include font-button;
  will-change: transform box-shadow;

  &.small {
    padding: 0.75vw 2vw;
  }

  color: white;
  background: black;
  border-color: black;

  &.orange {
    color: white;
    background: $orange;
    border-color: $orange;
  }

  &.white {
    color: $orange;
    background: white;
    border-color: white;
  }

  &.outlined {
    color: black;
    background: trasparent;
    border-color: black;

    &.orange {
      color: $orange;
      background: transparent;
      border-color: $orange;
    }

    &.white {
      color: white;
      background: transparent;
      border-color: white;
    }
  }

  &.outlined-inverted {
    color: $background;
    background: none;
  }

  &.outlined {
    color: $text;
    border-color: $text;
    background: none;
  }

  &:hover {
    text-decoration: none;
    transform: translateY(-1px);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-out;
  }
}
