._content-column {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 var(--gap);

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .page-text,
  .article-text {
    max-width: 30rem;
    margin: 0 auto calc(3 * var(--gap));

    img {
      max-width: 100%;
    }

    hr {
      margin: calc(2.5 * var(--gap)) 0 calc(2 * var(--gap));

      &::before {
        content: "* * *";
        display: block;
        text-align: center;
        color: $orange;
        font-size: 2em;
        line-height: 2em;
      }
    }

    .perex {
      margin-top: calc(6 * var(--gap));

      p {
        @include font-perex;
      }
    }

    ul {
      padding-left: 1.25em;
    }

    ul {
      display: block;
      padding: 0;
      border-radius: 2px;

      li {
        margin: 0.5em 0;
        display: block;
        padding: 0 0 0 1.15em;
        @include font-bread;

        &::before {
          content: " ";
          display: block;
          width: 0.5em;
          height: 0.5em;
          background-image: url(/images/bullets.jpg);
          background-position: 50% 50%;
          background-size: 100%;
          background-attachment: fixed;
          float: left;
          margin-left: -1.15em;
          margin-top: 0.5em;
          border-radius: 50%;
        }
      }
    }

    h2 {
      @include font-preview-title;
      margin: calc(1 * var(--gap)) 0 calc(0 * var(--gap));
      padding: 0;
    }

    blockquote {
      margin-left: calc(2 * var(--gap));
      margin-right: calc(2 * var(--gap));

      p {
        font-style: italic;
        text-indent: calc(2 * var(--gap));

        em {
          font-style: normal;
        }
      }
    }

    figure {
      margin: var(--gap) 0;
      padding: var(--gap);
      background: $gray;

      p,
      p:first-child {
        margin: 0;
      }

      img {
        display: block;
      }

      figcaption p:first-child {
        margin-top: var(--gap);
      }
    }

    .published {
      border-top: 2px solid $text;
      @include font-bread;
      padding: 0.5rem 0;
      margin-bottom: 2rem;
    }

    .published + img {
      float: right;
      margin-right: calc(-3 * var(--gap));
      padding: var(--gap);
      border-radius: 50%;
      overflow: hidden;
      width: 180px;
      height: 180px;
      object-fit: cover;
    }
  }

  .article-text {
    table {
      margin: var(--gap) 0;
      border-collapse: collapse;

      td,
      th {
        text-align: left;
      }

      th {
        color: $orange;
        padding: 0.5em 1em 0.5em 0;
      }

      td {
        padding: 0.5em;
        border: 1px solid #ccc;
      }
    }

    h2 {
      @include font-article-title;
      margin: calc(2.5 * var(--gap)) 0 calc(0.5 * var(--gap));
      padding: 0;
    }

    h3 {
      margin: calc(3 * var(--gap)) 0 0;
    }

    p {
      @include font-article;
      text-indent: calc(2 * var(--gap));
      margin: 0;
    }

    dl {
      margin-left: calc(2 * var(--gap));
      @include font-article;

      dt {
        font-weight: bold;
      }

      dd {
        margin-left: calc(2 * var(--gap));
      }
    }

    ul li {
      margin-left: calc(2 * var(--gap));
      @include font-article;

      &:before {
        margin-top: 0.6em;
      }
    }

    ol {
      margin-left: calc(2 * var(--gap));
      padding-left: 1.2em;

      li {
        margin: 0.5em 0;
        @include font-article;
      }
    }

    p.published + p,
    :not(p) + p,
    p:first-child {
      margin-top: calc(1.5 * var(--gap));
      text-indent: 0;
    }

    h1 + p,
    h2 + p,
    h3 + p {
      margin-top: var(--gap);
    }
  }

  .article-preview {
    margin: var(--gap) 0;
    padding: var(--gap) 0 var(--gap);

    h2 {
      margin: 0;
      padding: 0;
      @include font-preview-title;
      a {
        color: black;
      }
    }

    img {
      max-width: 100%;
    }

    .published {
      border-top: 2px solid $text;
      @include font-bread;
      margin: 0;
      padding: 0;
      padding: 1vw 0 2vw;
    }
  }
}
