._content-column {
  max-width: 990px;
  margin: 0 auto;
  padding: 1rem;

  .article-text {
    max-width: 30rem;
    margin: 0 auto;

    img {
      max-width: 100%;
    }

    .published {
      border-top: 2px solid $text;
      @include font-size-s;
      padding: 0.5rem 0;
      margin-bottom: 2rem;
    }
  }
}
