@include md-up {
  ._grid {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);

    .full {
      grid-column: 1 / -1;
    }

    .centered {
      grid-column: 3 / span 6;
    }

    .left {
      grid-column: 1 / span 9;
    }

    .right {
      grid-column: 3 / span 9;
    }

    .third {
      grid-column: span 4;
    }

    .fourth {
      grid-column: span 3;
    }

    .half {
      grid-column: span 6;
    }

    .start {
      align-self: start;
    }

    .end {
      align-self: end;
    }
  }
}
