._home-header {
  background-blend-mode: multiply;
  background-image: linear-gradient(-45deg, $orange, $orange),
    url(/images/marble.jpg);
  background-size: 100%, cover;

  box-sizing: border-box;
  margin: 0 var(--gap);

  @include md-up {
    padding: 10vh;
    min-height: 80vh;
  }

  .wrapper {
    box-sizing: border-box;
    min-height: 60vh;
    padding-top: 10vh;
    background-size: contain;
    background-repeat: no-repeat;

    .claim {
      @include font-perex;
    }

    h1 {
      margin: 0 0 2rem;
      color: $background;
      @include font-preview-title;
      text-align: center;

      .vf-logo {
        padding: 8vw 0 8vw;
        font-size: 14vw;
      }
    }

    ul {
      display: block;
      padding: 0;
      margin: 0 auto;
      text-align: center;

      li {
        white-space: nowrap;
        display: inline-block;
        list-style-type: none;

        @include sm {
          margin: 0.5em 2em;
        }

        @include md-up {
          margin-right: var(--gap);

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
