._home-header {
  background-blend-mode: multiply;
  background-image: linear-gradient(-45deg, $orange, $orange),
    url(/images/marble.jpg);
  background-size: 100%, cover;

  box-sizing: border-box;
  margin: 0 var(--gap);
  padding: 14vh 0 10vh;

  @include md-up {
    padding: 19vh 10vh 19vh;
  }

  .wrapper {
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;

    .claim {
      color: $background;
      text-align: center;
      margin: 0.5em 0 2em;
      @include font-perex;
    }

    h1 {
      margin: 0;
      color: $background;
      @include font-preview-title;
      text-align: center;

      .vf-logo {
        font-size: 14vw;
        line-height: 15vw;
      }
    }

    ul {
      display: block;
      padding: 0;
      margin: 0 auto;
      text-align: center;

      li {
        white-space: nowrap;
        display: inline-block;
        list-style-type: none;

        margin: 0.5em var(--gap);

        @include md-up {
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
