<!DOCTYPE html>
<html>

<head>
  <title>{{ .Title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {{ $style := resources.Get "style.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  <link rel="stylesheet" href="https://use.typekit.net/tly6rvv.css">
  <script src="/text-balancer/text-balancer.js"></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
  <nav class="global">
    <ul>
      {{ partial "menu-item.html" (dict "page" (.GetPage "/") "permalink" .RelPermalink "text" "next-book") }}
      {{ partial "menu-item.html" (dict "page" (.GetPage "/library") "permalink" .RelPermalink "text" (i18n "library")) }}
      {{ partial "menu-item.html" (dict "page" (.GetPage "/blog") "permalink" .RelPermalink "text" (i18n "blog")) }}
      {{ partial "menu-item.html" (dict "page" (.GetPage "/concept") "permalink" .RelPermalink "text" (i18n "concept")) }}
      {{ partial "menu-item.html" (dict "page" (.GetPage "/non-profit") "permalink" .RelPermalink "text" (i18n "non-profit")) }}
      {{ partial "menu-item.html" (dict "page" (.GetPage "/contact") "permalink" .RelPermalink "text" (i18n "get-in-touch")) }}

      {{ if .IsTranslated }}
        {{ range .Translations }}
          {{ if ne .Language.Lang $.Language.Lang }}
            <li><a tabindex="0" href="{{ .RelPermalink }}" class="lang">
              {{ .Language.Lang | upper }}
            </a></li>
          {{ end  }}
        {{ end }}
      {{ else }}
        {{ if eq .Language.Lang "cs" }}
          <li lang="en"><a tabindex="0" href="{{ "/en/" | relURL }}" class="lang" aria-label="Switch to English">EN</a></li>
        {{ else }}
          <li lang="cs"><a tabindex="0" href="{{ "/" | relURL }}" class="lang" aria-label="Přepnout do češtiny">CS</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>

  {{ block "main" . }}{{ end }}  

  <footer class="wrapper">
    <div class="_content-column balance-content">
      {{ with (.GetPage "/").Params.newsletter }}
      <div id="mc_embed_signup">
        <h3>{{ .title }}</h3>
        <form action="https://next-book.us20.list-manage.com/subscribe/post?u=f81ac979da2d23765713d081e&amp;id=89f546e1fd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          {{ partial "md-block.html" .desc }}
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f81ac979da2d23765713d081e_89f546e1fd" tabindex="-1" value=""></div>
        </form>
        {{ partial "md-block.html" .legal }}
        {{ partial "md-block.html" (index . "not-sure") }}
        {{ end }}
      </div>
      <p class="copy">&copy; 2017—{{ now.Format "2006" }} next-book, z. s.</p>
    </div>
  </footer>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>
