<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="./favicon.png" />

  <title>{{ .Title }}</title>
  <meta name="description" content="Web-based books for open digital publishing.">

  <meta property="og:title" content="next-book">
  <meta property="og:description" content="Web-based books for open digital publishing.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.next-book.info/">
  <meta property="og:image" content="https://www.next-book.info/next-book-logo.png">

  {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700;900&family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  {{ $style := resources.Get "styles/style.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body class="{{ block "bodyclass" . }}{{ end }}">
  <header class="container">
    <div>
      <a href="/" class="logo-link">
          {{ partial "logo.html" . }}
          <h1>
            next-book
          </h1>
          <p class="subtitle">book publishing on the web</p>
      </a>
    </div>

    <nav>
      <ul>
        <li><a href="/concept/">Concept</a></li>
        <li><a href="/articles/">Articles</a></li>
        <li><a href="/docs/">Docs</a></li>
        <li><a href="/about-us/">About us</a></li>
        <li>|</li>
        <li><a href="/cs/">Česky</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <div class="container container-gold">
    <footer>
      <div>
        &copy; 2016–2020 next-book, z. s. (<a href="/about-us">Why a non-profit?</a>)
      </div>
    </footer>
  </div>

  <script src="{{ (resources.Get "scripts/app.js" | fingerprint).RelPermalink | relURL }}"></script>
</body>
</html>
