*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  padding-top: $nav-height;
}

a {
  color: $orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: black;
  }
}

.hide {
  display: none;
}

footer {
  color: $background;
  background-color: $dark;

  .copy {
    margin-top: 4rem;
  }
}

section {
  margin-bottom: #{6 * $gap};
}

hr {
  border: 0;
  margin: 4 * $gap;
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  @include font-bread;
  padding: 0.5vw 1vw;
  border-radius: 2px;
  border: none;
}

.orange-box {
  background: $orange;
  color: white;
  padding: #{2 * $gap};
  margin: #{2 * $gap} 0;

  & > div {
    padding-bottom: #{2 * $gap};
    margin-bottom: #{2 * $gap};
    border-bottom: 0.5px solid white;

    &:last-child {
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}
