*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  @include font-bread;

  --gap: 0.5em;

  @include md-up {
    --gap: 1em;
  }
}

body {
  @include md-up {
    padding-top: font-size(140);
  }

  @include lg-up {
    padding-top: font-size(100);
  }
}

a {
  color: $orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: black;
  }
}

p {
  margin-bottom: 1.25em;
}

section > p:last-child {
  margin-bottom: 0;
}

.hide {
  display: none;
}

footer {
  color: $background;
  background-color: $dark;
  padding: calc(2 * var(--gap)) 0;

  .copy {
    margin: 4rem 0 0;

    @include sm {
      text-align: center;
    }
  }

  h3 {
    margin-top: 0;
  }
}

section {
  margin-bottom: calc(6 * var(--gap));
}

hr {
  border: 0;
  margin: calc(4 * var(--gap));
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  @include font-bread;
  padding: 0.5vw 1vw;
  border-radius: 2px;
  border: none;
}

.orange-box {
  background: $orange;
  color: white;
  padding: calc(3 * var(--gap));
  margin: calc(3 * var(--gap)) 0 var(--gap);

  & > div {
    padding-bottom: calc(2 * var(--gap));
    margin-bottom: calc(2 * var(--gap));
    border-bottom: 0.5px solid white;

    &:last-child {
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  p {
    margin: 0.5em 0 2em;
  }

  h2 {
    @include font-heading-boxed;
    margin-top: 0;
  }
}
