$multiplier: 0.045;
$sm-multiplier: 0.065;

@mixin font-article {
  font-family: $article;
  font-size: #{24vw * $multiplier * 1.4};
  line-height: #{40vw * $multiplier * 1.4};
  font-weight: 400;
}

@mixin font-article-title {
  font-family: $bread;
  font-size: #{24vw * $multiplier * 1.4};
  line-height: #{29vw * $multiplier * 1.4};
  font-weight: 700;
}

/* @mixin font-bread ?!?!?! {
  font-family: $bread;
  font-size: #{24vw * $multiplier};
  line-height: #{32vw * $multiplier};
  font-weight: 400;
} */

@mixin font-bread {
  font-family: $bread;
  font-size: #{35vw * $multiplier};
  line-height: #{49vw * $multiplier};
  font-weight: 400;
}

@mixin font-perex {
  font-family: $bread;
  font-size: #{50vw * $multiplier};
  line-height: #{70vw * $multiplier};
  font-weight: 400;
}

@mixin font-button {
  font-family: $bread;
  font-size: #{35vw * $multiplier};
  line-height: #{30vw * $multiplier};
  font-weight: 500;
}

@mixin font-nav {
  font-family: $bread;
  font-size: #{36vw * $multiplier};
  line-height: #{50vw * $multiplier};
  font-weight: 500;
}

@mixin font-preview-title {
  font-family: $title;
  font-size: #{70vw * $multiplier};
  line-height: #{84vw * $multiplier};
  font-weight: 600;
}

@mixin font-heading-boxed {
  font-family: $title;
  font-size: #{96vw * $multiplier};
  line-height: #{120vw * $multiplier};
  font-weight: 400;
}

@mixin font-heading {
  font-family: $title;
  font-size: #{140vw * $multiplier};
  line-height: #{168vw * $multiplier};
  font-weight: 400;
}

@mixin font-title {
  font-family: $title;
  font-size: #{170vw * $multiplier};
  line-height: #{195vw * $multiplier};
  font-weight: 300;
}

@font-face {
  font-family: "nb-logo";
  src: url("/fonts/next-bookVF.ttf") format("truetype");
}

h1,
h2.home-h2 {
  margin: 0.2em 0 0.3em;
  @include font-title;
}

h2 {
  padding: #{2 * $gap} 0 $gap;
  margin: 0;
  @include font-heading;

  &.large {
    @include font-title;
  }
}

h3 {
  @include font-perex;
}

p,
li {
  @include font-bread;
}

.perex {
  p {
    @include font-perex;
  }
}

.balance-text {
  visibility: hidden;
}

@media (scripting: none) {
  .balance-text {
    visibility: visible;
  }
}

@supports (text-wrap: balance) {
  .balance-text {
    text-wrap: balance;
    visibility: visible;
  }
}

.balance-wrapper-h1,
.balance-wrapper-h2,
.balance-wrapper-h3,
.balance-wrapper-p {
  max-width: #{"min(100%, 70vw)"};
}
