$text: black;
$background: white;
$orange: #f26531;
$orangeDark: #a52d01;
$gray: #f5f5f5;
$dark: #383838;

$bread: "halyard-display", sans-serif;
$title: "ivypresto-display", serif;

$nav-height: 3rem;

@import "responsive";
@import "typo";
@import "base";
@import "components/all";
