$text: black;
$background: white;
$orange: #f26531;
$orangeDark: #a52d01;
$gray: #f5f5f5;
$dark: #383838;

$bread: "halyard-display", sans-serif;
$title: "ivypresto-display", serif;

$break-small-min: 480px;
$break-medium-min: 650px;
$break-large-min: 890px;

@mixin sm {
  @media only screen and (max-width: $break-small-min - 0.01px) {
    @content;
  }
}

@mixin md-up {
  @media only screen and (min-width: $break-small-min) {
    @content;
  }
}

@mixin lg-up {
  @media only screen and (min-width: $break-large-min) {
    @content;
  }
}

@mixin font-size($small, $large: false) {
  font-size: $small;

  @if $large {
    @include md-up {
      font-size: $large;
      font-size: clamp(#{$large * 0.7}, relFontSize($large), $large);
    }
  }
}

@function relFontSize($pxSize) {
  @return $pxSize / 1200px * 100vw;
}

@mixin font-size-s {
  @include font-size(14px, 16px);
}

@mixin font-size-m {
  @include font-size(16px, 18px);
}

@mixin font-size-l {
  @include font-size(20px, 24px);
}

@mixin font-size-xl {
  @include font-size(24px, 32px);
}

@mixin font-size-xxl {
  @include font-size(28px, 40px);
}

@mixin font-size-xxxl {
  @include font-size(28px, 50px);
}

@font-face {
  font-family: "nb-logo";
  src: url("/fonts/next-bookVF.ttf") format("truetype");
}

@keyframes bounce {
  from {
    font-variation-settings: "wght" 1, "SFGT" 1;
  }
  12.5% {
    font-variation-settings: "wght" 1, "SFGT" 1;
  }
  25% {
    font-variation-settings: "wght" 1000, "SFGT" 1;
  }
  37.5% {
    font-variation-settings: "wght" 1000, "SFGT" 1;
  }
  50% {
    font-variation-settings: "wght" 1000, "SFGT" 1000;
  }
  62.5% {
    font-variation-settings: "wght" 1000, "SFGT" 1000;
  }
  75% {
    font-variation-settings: "wght" 1, "SFGT" 1000;
  }
  87.5% {
    font-variation-settings: "wght" 1, "SFGT" 1000;
  }
  to {
    font-variation-settings: "wght" 1, "SFGT" 1;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: $title;
  font-weight: normal;
  @include font-size-xxl;
}

h2 {
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.3em;
  @include font-size-xxxl;
}

h3 {
  font-family: $bread;
  @include font-size-l;
  font-weight: 500;
}

p,
li {
  font-family: $bread;
  @include font-size-m;
}

.balance-text {
  visibility: hidden;
}

@media (scripting: none) {
  .balance-text {
    visibility: visible;
  }
}

@supports (text-wrap: balance) {
  .balance-text {
    text-wrap: balance;
    visibility: visible;
  }
}

.hide {
  display: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%, 0 0;
  }
  50% {
    background-position: 100% 50%, 0 0;
  }
  100% {
    background-position: 0% 50%, 0 0;
  }
}

._grid {
  display: grid;
  grid-gap: 2.5rem;

  &.four {
    @include md-up {
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg-up {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

._content-column {
  max-width: 990px;
  margin: 0 auto;
  padding: 1rem;
}

._backdrop {
  background: $gray;
}

._box {
  background: $gray;
  padding: 2rem;

  &.accent {
    background: $orange;

    color: $background;

    h2 {
      @include font-size-xxl;
      margin-top: 0;
      font-weight: 600;
    }

    .desc p {
      max-width: 28rem;
      @include font-size-l;
    }
  }
}

.balance-wrapper-h2 {
  max-width: 34rem;
}

.balance-wrapper-h3 {
  max-width: 20rem;
}

nav.global {
  padding: 0.5rem 1rem;

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      display: block;
      list-style-type: none;
      margin-left: 1rem;

      &:first-child {
        margin-left: 0;
        flex-grow: 10;
      }

      &:last-child {
      }
    }
  }

  a {
    color: $text;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: lowercase;
  }
}

main.home {
  header {
    background-blend-mode: multiply;
    background-image: linear-gradient(-45deg, $orange, $orange),
      url(/images/marble.jpg);
    background-size: 400% 400%, 100%;
    animation: gradient 20s ease infinite;
    min-height: 80vh;
    padding: 10vh;
    box-sizing: border-box;

    .wrapper {
      box-sizing: border-box;
      min-height: 60vh;
      padding-top: 10vh;

      background-image: url("/images/ellipse.svg");
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;

      h1 {
        margin: 0 0 2rem;
        font-family: $bread;
        color: $background;

        text-align: center;

        .vf-logo-wrapper {
          width: 100%;
          height: 100%;
          left: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .vf-logo {
          font-size: 15vw;
          font-weight: normal;
          padding: 0;
          margin: 0;
          display: block;
          align-self: center;
          z-index: 255;

          display: block;
          text-align: center;
          animation: bounce ease-in-out infinite;
          font-family: "nb-logo", $title;
          animation-duration: 6s;
          font-size: 14vh;
        }
      }

      p {
        text-align: center;
        width: 16rem;
        margin: 1rem auto;
      }
    }
  }
}

._button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  min-width: 18rem;

  background: $background;
  padding: 0.5rem 1.5rem 0.7rem;
  border-radius: 10rem;

  text-decoration: none;
  color: $orange;
  border: 0.1rem solid $background;
  font-weight: 600;

  &.outlined {
    color: $background;
    background: $orange;
  }

  &.black {
    color: $background;
    background: $text;
  }
}

footer {
  color: $background;
  background-color: $dark;

  .copy {
    margin-top: 4rem;
  }
}
