/* $pink0: #DC0055;
$pink1: #EFC8D7;
$pink2: #DD4E85;
$pink3: #A0003E;
$pink4: #690029;

$gold0: #FFA200;
$gold1: #FFF0D6;
$gold2: #FFC35A;
$gold3: #B97600;
$gold4: #7A4E00;

$blue0: #104BA9;
$blue1: #B7C3D6;
$blue2: #466DA9;
$blue3: #08347B;
$blue4: #022051;

$green0: #7CE700;
$green1: #E2F4CD;
$green2: #A2E852;
$green3: #5AA800;
$green4: #3B6F00; */

$pink0: #DAA4B7;  // Main Primary color */
$pink1: #F6EBEF;
$pink2: #EACBD6;
$pink3: #BA728B;
$pink4: #9A4663;

$gold0: #F9E8BB;  // Main Secondary color (1) */
$gold1: #FFFCF3;
$gold2: #FFF6DD;
$gold3: #D4BD82;
$gold4: #AF954F;

$blue0: #868BAB;  // Main Secondary color (2) */
$blue1: #DFE0E8;
$blue2: #B3B6CB;
$blue3: #616792;
$blue4: #3F4679;

$green0: #C5E0A9; // Main Complement color */
$green1: #F2F8EC;
$green2: #DFEECF;
$green3: #9ABF75;
$green4: #739E47;

$primary: $blue4;
$secondary: $pink4;
$softPrimary: $blue1;
$softSecondary: $pink1;
$white: #fafafa;
$black: #333;
