<section class="_grid _folder">
  {{ with .title }}
    <h2 class="full">{{ . }}</h2>
  {{ end }}

  {{ $page := .page }}
  {{ range .books }}
    <div class="third _book">
      <div class="cover">
        {{ with .cover }}
          {{ partial "pic.html" (dict "pic" (replaceRE "/media/" "" .) "Resources" ($page.GetPage "/media").Resources "resize" "500x") }}
        {{ end }}
      </div>
      <h3>{{ .title }}</h3>
      <p class="info">{{ .author }}<br>{{ .year }}</p>
      <a class="_button black small">Číst</a>
    </div>
  {{ end }}
</section>
